@font-face{
    font-family: roboto;
    src: url(assets/fonts/Roboto-MediumItalic.ttf)
}


body{
    background-color: #EFD09E;
    margin-top: 2em;
    font-family: roboto;
    
}
footer{
    border-radius: 10px;

}

.navbar{
    border-radius: 10px;
    margin-bottom: 1em;
}
.card{
    margin: 1rem;
    padding: 5px;
    
}

.preco{
    width: 50px;
    margin-left: 5px;
}

#btn-comprar{
    margin-left: 10px;
}

#total {
    width: 4rem;
    margin-right: 0rem;
}

button[id=comprar], button[id=limpar-carrinho], button[id=modal], button[id=modal-fechar], button[class=btn]{
    background-color: #F37748;
    color: white;
    border-radius: 50px;
    margin-top: 0px;
    margin-left: 10px;
}

.container[id=app]{
    padding: 1rem;
    border-radius: 10px;
    max-width: 100rem;
}

button#search{
    margin-right: 11rem;
}

.container[id=navbar-carrinho]{
    margin-top: 1rem;
}

.container#app img {
    height: 13rem;
    
}

.carousel-inner img {
    height: 40rem;
}
input[class=form-control]{
    margin-right: 13px;
    border-radius: 50px;
}

input{
    text-align: center;
}

.jumbotron{
    color:black;
    border-color: blanchedalmond;
    border-radius: 10px;
}

#cardapio{
    border-style: solid;
    border-color: blanchedalmond;
    border-radius: 10px;
    
}

#img-produto-carrinho {
    width: 54px;
    margin-right: 9px;
}
