
body{
    background-color: #FCAB10;

}
.card{
    margin-left: 1em;
    margin-top: 30px;
}

#btn-carrinho{
    margin: auto;
    margin-top: 1em;
}

.preco{
    width: 50px;
    margin-left: 5px;
}